<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="btn-start" mat-button disableRipple='true'>
      <span class="monogram-small">{{menu.home.title}}</span>
    </button>
    <ng-container *ngIf="!appConfigService.xsmallScreen">
      <button mat-flat-button color="primary" *ngFor="let pl of menu.pageLinks" matTooltipShowDelay="1000" [matTooltip]="pl.description">
        <span>{{pl.title}}</span>

      </button>
    </ng-container>

    <span class="spacer-greedy"></span>

    <button class="btn-end" mat-icon-button *ngFor="let m of menu.managers" (click)="managerClick(m)">
      <mat-icon>{{m.icon}}</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="page-tools" *ngIf="appConfigService.xsmallScreen">
    <button mat-flat-button color="primary" *ngFor="let pl of menu.pageLinks" matTooltipShowDelay="1000" [matTooltip]="pl.description">
      <mat-icon>{{pl.icon}}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <ng-content>

  </ng-content>
</div>