@import '~@angular/material/theming';
@mixin aqua-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $drawer-width: 225px;
  $nav-button-spacing: 200px;

  .manager-button {
    margin-right: 50px;
    margin-top: 20px;
  }

  .drawer-button {
    margin-left: 50px;
    margin-top: 20px;
  }

  .monogram {
    background-color: mat-color($primary);
    color: white;
    outline: 10px solid white;
    font-family: 'Montserrat', sans-serif;
    height: $drawer-width;
    line-height: $drawer-width;
    vertical-align: middle;
    text-align: center;
    font-size: 75px;
    outline-offset: -40px;
    text-shadow: 0 5px 3px #4d4d4d;
    z-index: 99999999999999999999999999;
  }

  div.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: mat-color($primary);
    opacity: 0.80;
    z-index: 0;
  }
}