<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="sideNavOpened" style="height: 100vh">

    <div class="monogram">BF</div>

    <div>
      <mat-nav-list>
        <mat-list-item *ngFor="let pl of menu.pageLinks" style="width: 200px">
          {{pl.title}}
        </mat-list-item>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <!-- <div class="bootstrap-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-med-4">
            <button class="drawer-button" (click)="sideNavOpened=!sideNavOpened" mat-fab color="accent">
              <mat-icon>{{sideNavOpened ? 'close' : 'menu'}}</mat-icon>
            </button>
          </div>
          <div class="col-med-4 spacer-greedy"></div>
          <div class="col-med-4">
            <button (click)="managerClick(m)" class="manager-button" mat-fab *ngFor="let m of menu.managers" color="accent">
              <mat-icon>{{m.icon}}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>