@import "~@angular/material/theming";
$midnight-theme-primary: mat-palette($mat-deep-purple, 700, 300, 900);
$midnight-theme-accent: mat-palette($mat-indigo);
$midnight-theme-warn: mat-palette($mat-red);
$midnight-theme: mat-dark-theme(
  $midnight-theme-primary,
  $midnight-theme-accent,
  $midnight-theme-warn
);
