@import '~@angular/material/theming';
$pirate-theme-primary: mat-palette($mat-grey, 900, 500, 800);
$pirate-theme-accent: mat-palette($mat-red, 900, A700, 800);
$pirate-theme-warn: mat-palette($mat-red);
$pirate-theme: mat-dark-theme($pirate-theme-primary, $pirate-theme-accent, $pirate-theme-warn);