@import "~@angular/material/theming";

$tropical-theme-primary: mat-palette($mat-indigo);
$tropical-theme-accent: mat-palette($mat-light-blue);
$tropical-theme-warn: mat-palette($mat-red);

$tropical-theme: mat-light-theme(
  $tropical-theme-primary,
  $tropical-theme-accent,
  $tropical-theme-warn
);
