@import "~@angular/material/theming";
@mixin classic-page-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  classic-page {
    .bootstrap-wrapper {
      background-attachment: 'fixed';

      div.container {
        padding: 275px 0 0;

        .row {
          color: black;
          background-color: mat-color($primary, 100);
        }
      }
    }
  }
}