<div class="bootstrap-wrapper" [style.background-image]="'url(/assets/img/theme/heroes/'+appConfig$.theme.title+'.jpg) '" [style.background-repeat]="'no-repeat'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-med-4">
        <br><br><br><br><br><br> <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
      </div>
      <div class="col-med-4 "></div>
      <div class="col-med-4">

      </div>
    </div>
  </div>
</div>