@import "~@angular/material/theming";

@mixin classic-page-theme($theme) {
  $primary: map-get($theme, primary);

  classic-page {
    .bootstrap-wrapper {

      div.container {
        padding: 275px 0 0;

        .row {
          color: black;
          background-color: mat-color($primary, 100);
        }
      }
    }
  }
}
