@import "themes/arizona-theme.scss";
@import "themes/beach-theme.scss";
@import "themes/corp-theme.scss";
@import "themes/lush-theme.scss";
@import "themes/midnight-theme.scss";
@import "themes/pirate-theme.scss";
@import "themes/tech-theme.scss";
@import "themes/tropical-theme.scss";
@import '~@angular/material/theming';
@include mat-core();
@import "bootstrap/grid.scss";
@import "app/app-styles/aqua/aqua-theme.scss";
@import "app/page/page-styles/classic/classic-page-theme.scss";
@mixin custom-components-theme($theme) {
  @include aqua-theme($theme);
  @include classic-page-theme($theme)
}

.arizona-theme {
  @include angular-material-theme($arizona-theme);
  @include custom-components-theme($arizona-theme);
}

.beach-theme {
  @include angular-material-theme($beach-theme);
  @include custom-components-theme($beach-theme);
}

.corp-theme {
  @include angular-material-theme($corp-theme);
  @include custom-components-theme($corp-theme);
}

.lush-theme {
  @include angular-material-theme($lush-theme);
  @include custom-components-theme($lush-theme);
}

.midnight-theme {
  @include angular-material-theme($midnight-theme);
  @include custom-components-theme($midnight-theme);
}

.pirate-theme {
  @include angular-material-theme($pirate-theme);
  @include custom-components-theme($pirate-theme);
}

.tech-theme {
  @include angular-material-theme($tech-theme);
  @include custom-components-theme($tech-theme);
}

.tropical-theme {
  @include angular-material-theme($tropical-theme);
  @include custom-components-theme($tropical-theme);
}

body {
  margin: 0;
}

.spacer-greedy {
  flex: 1 1 auto;
}

h3 {
  font-size: 125%;
}

.mat-button,
.mat-flat-button,
.mat-icon-button {
  font-size: 95%;
}

.mat-radio-label-content {
  font-size: 110%;
}

.monogram-small {
  border: 3px solid white;
  padding: 5px 7px;
}

.handwriting {
  font-family: 'Satisfy', cursive;
}