@import '~@angular/material/theming';
@mixin aqua-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $drawer-width: 225px;
  $nav-button-spacing: 200px;

  .monogram {
    background-color: mat-color($primary);
    color: white;
    outline: 10px solid white;
    font-family: 'Montserrat', sans-serif;
    height: $drawer-width;
    line-height: $drawer-width;
    vertical-align: middle;
    text-align: center;
    font-size: 75px;
    outline-offset: -40px;
    text-shadow: 0 5px 3px #4d4d4d;
  }
}